asgiref==3.12.1
attrs==26.1.0
certifi==2026.6.17
charset-normalizer==3.4.9
Django==6.0.7
django-cors-headers==4.9.0
djangorestframework==3.17.1
drf-spectacular==0.30.0
git-filter-repo==2.47.0
idna==3.18
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
pillow==12.3.0
psycopg2-binary==2.9.12
python-decouple==3.8
python-dotenv==1.2.2
PyYAML==6.0.3
referencing==0.37.0
requests==2.34.2
rpds-py==2026.6.3
sqlparse==0.5.5
uritemplate==4.2.0
urllib3==2.7.0
gunicorn==23.0.0
whitenoise==6.9.0
boto3==1.35.39
django-storages==1.14.4
dj-database-url==2.2.0
